@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea, select {
  @apply  w-80 bg-zinc-100/40 border border-gray-200;
}

.board-grid {
    @apply grid  grid-cols-1 md:grid-cols-3 gap-4;
  }
  .board-card{
    @apply bg-white shadow-md p-4 text-blue-600 text-center cursor-pointer;
  }
  .board-title{
    @apply uppercase text-blue-600 font-bold text-xl text-center;
  }
  .board-summary{
    @apply text-gray-800 text-xl text-center;
  }
  .board-data{
    @apply flex justify-between text-gray-600 text-sm text-center mt-2;
  }

  /* ESTILOS TRADICIONALES */
.title {
  font-size: 32px;
  font-weight: bold;
  color: #2563eb;

}

.swym-delete-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(180, 44, 44, 0.636);
  color: white;
  font-size: 20px;
  font-weight: 500;
  width: 1.3px;
  height: 1.5em;
  min-width: 1.3em;
  right: -10px;
  bottom: -50px;
  z-index: 0;
  cursor: pointer;
}

.swym-edit-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(230, 95, 95, 0.927);
  border-radius: 0.5rem;
  color: white;
  font-size: 20px;
  font-weight: 500;
  width: 1.3px;
  height: 1.5em;
  min-width: 1.3em;
  right: -10px;
  bottom: -50px;
  z-index: 0;
  cursor: pointer;
}
